<article itemscope itemtype="https://schema.org/BlogPosting">
    <h2 itemprop="headline">{{ article.title }}</h2>
    <div class="date meta-item" itemprop="dateCreated">{{ article.date }}</div>
    <p itemprop="articleBody">
        {{ article.summary }} <a href="{{ article.link }}" class="readmore" itemprop="url" rel="bookmark">Read more</a>
    </p>
    <div class="meta">
        <span class="author meta-item">Written by <span itemprop="author">{{ article.author }}</span></span>
        <span class="tags meta-item">Tags: <span itemprop="keywords">{{ article.tags }}</span></span>
        <span class="category meta-item">Category: <span itemprop="category">{{ article.category }}</span></span>
    </div>
</article>

<div class="separator"></div>