<article itemscope itemtype="https://schema.org/BlogPosting">
    <h2 itemprop="headline">{{ article.title }}</h2>
    <div class="date meta-item" itemprop="dateCreated">{{ article.date }}</div>
    <div itemprop="articleBody" {{ article.content.extra }} id="article">
        {{ article.full }}
    </div>
    <div class="meta">
        <span class="author meta-item">Written by <span itemprop="author">{{ article.author }}</span></span>
        <span class="tags meta-item">Tags: <span itemprop="keywords">{{ article.tags }}</span></span>
        <span class="category meta-item">Category: <span itemprop="category">{{ article.category }}</span></span>
        <br>
        <a href="{{ article.edit }}">Edit</a>
    </div>
</article>
