<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zey | The blog</title>
    <link rel="stylesheet" href="assets/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<nav>
    <div class="container">
        <ul>
            <li><h1>Zey</h1></li>
            <li><a href="?">Home</a><div class="cover"></div></li>
            <li><a href="#">Projects</a><div class="cover"></div></li>
            <li><a href="#">About me</a><div class="cover"></div></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {{ articles }}
    </div>
</main>
</body>
</html>